@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

.map {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: rgb(255, 123, 0);
}

.loader {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.loader h2 {
  font-size: 30px;
}

.location-info {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}
.location-info h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}
.location-info li {
  padding: 5px 0;
}

.header {
  padding: 10px;
  background-color: rgb(255, 123, 0);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}
